In [88]:
import pandas as pd
import numpy as np
from datetime import timedelta
import networkx as nx

In [1]:
import json

In [2]:
with open('/home/omid/Datasets/Jeopardy/jeopardy45.json', 'r') as f:
    game_questions = json.load(f)

In [13]:
a = game_questions[0]

In [16]:
from collections import namedtuple

In [19]:
import pandas as pd

In [22]:
from enum import auto

ImportError: cannot import name 'auto'

In [23]:
import enum

In [24]:
enum.auto

AttributeError: module 'enum' has no attribute 'auto'

In [25]:
class Category(Enum):
    SCIENCE_AND_TECHNOLOGY = 1
    HISTORY_AND_MYTHOLOGY = 2
    LITERATURE_AND_MEDIA = 3

In [32]:
from enum import Enum, unique
from typing import Text

In [33]:
@unique
class Category(Enum):
    SCIENCE_AND_TECHNOLOGY = 1
    HISTORY_AND_MYTHOLOGY = 2
    LITERATURE_AND_MEDIA = 3

    @staticmethod
    def parse(category_str: Text) -> Category:
        str2category_map = {
            'Science and Technology': Category.SCIENCE_AND_TECHNOLOGY,
            'History and Mythology': Category.HISTORY_AND_MYTHOLOGY,
            'Literature and Media': Category.LITERATURE_AND_MEDIA}
        if category_str not in str2category_map:
            raise ValueError(
                'The input category is not found. It was entered: {}'.format(
                    category_str))
        return str2category_map[category_str]

In [37]:
Category.LITERATURE_AND_MEDIA

In [38]:
Category.parse('Historycx and Mythology')

ValueError: The input category is not found. It was entered: Historycx and Mythology

In [47]:
Category

In [58]:
@attr.s
class JeopardyQuestion(object):
    """Jeopardy-like question including category, choices, right answer, etc."""
    id = attr.ib(type=int)
    question_content = attr.ib(type=str)
    answer = attr.ib(type=str)
    choices = attr.ib(factory=list)
    category = attr.ib(default=Category.HISTORY_AND_MYTHOLOGY)

In [53]:
JeopardyQuestion(category=Category.HISTORY_AND_MYTHOLOGY, id='s', question_content='gg', answer='h')

JeopardyQuestion(id='s', question_content='gg', answer='h', choices=[], category=<Category.HISTORY_AND_MYTHOLOGY: 2>)

In [1]:
import pandas as pd

In [64]:
data = pd.DataFrame({
    'content': ['hi', 'hello', 'what\'s up?', 'nothing', 'hey!!!'],
    'timestamp': ['2019-05-21 10:17:36', '2019-05-21 10:17:37', '2019-05-21 10:18:05', '2019-05-21 10:18:17', '2019-05-21 10:25:36'],
    'sender_subject_id': [123, 122, 123, 122, 124]
})
data['timestamp'] = pd.to_datetime(data['timestamp'])

In [77]:
t

Timestamp('2019-05-21 10:17:36')

In [72]:
aa.between(datetime.timedelta(seconds=1), datetime.timedelta(seconds=20))

0    False
1     True
2    False
3    False
4    False
Name: timestamp, dtype: bool

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [54]:
aa = datetime.timedelta(seconds=5)

In [63]:
(data['timestamp'] - pivot_time)

0   00:00:00
1   00:00:20
2   00:00:29
3   00:01:14
4   00:38:00
Name: timestamp, dtype: timedelta64[ns]

In [78]:
data

      content  sender_subject_id           timestamp
0          hi                123 2019-05-21 10:17:36
1       hello                122 2019-05-21 10:17:37
2  what's up?                123 2019-05-21 10:18:05
3     nothing                122 2019-05-21 10:18:17
4      hey!!!                124 2019-05-21 10:25:36

In [79]:
communication_data = data
text_column_name = 'content'
time_column_name = 'timestamp'
sender_column_name = 'sender_subject_id'

In [114]:
dgraph = nx.DiGraph()
if isinstance(communication_data.iloc[0][time_column_name], str):
    communication_data[time_column_name] = (
        pd.to_datetime(communication_data[time_column_name]))
for _, row in communication_data.iterrows():
    pivot_time = row[time_column_name]
    pivot = row[sender_column_name]
    response_df = communication_data[(communication_data['timestamp'] - pivot_time).between(timedelta(seconds=1), timedelta(seconds=20))]
    for _, response_row in response_df.iterrows():
        responder = response_row[sender_column_name]
        if not dgraph.has_edge(responder, pivot):
            dgraph.add_edge(responder, pivot, weight=1)
        else:
            weight = dgraph.get_edge_data(responder, pivot)['weight']
            dgraph.add_edge(responder, pivot, weight=weight+1)

In [115]:
dgraph

In [117]:
nx.adj_matrix(dgraph).todense()

matrix([[0, 2],
        [0, 0]], dtype=int64)

In [89]:
dg = nx.DiGraph()

In [106]:
dg.add_edge(121, 123, weight=1)

In [116]:
nx.adj_matrix(dgraph).todense()

matrix([[0, 0, 1],
        [0, 0, 1],
        [0, 0, 0]], dtype=int64)

In [112]:
dg.get_edge_data(121, 123)['weight']

1

In [118]:
dg